services:
  db:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27017:27017

  functions:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      MongoDb: mongodb://root:rootpassword@db:27017
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID:-80097063421-no8el98n0f188in9pur04r9h8sh7rsen.apps.googleusercontent.com}
    depends_on:
      - db
    ports:
      - 7071:80
    expose:
      - 7071
