[build-system]
requires = ["setuptools >= 74.0"]
build-backend = "setuptools.build_meta"

[project]
name = "hundredandtenserverless"
version = "0.0.0"
readme = "README.md"
requires-python = ">=3.11"
authors = [
    { name = "Seamus Lowry" },
]
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "azure-functions==1.24.0",
    "hundredandten==1.11.49",
    "pymongo==4.15.4",
]

[project.optional-dependencies]
lint = [
    "pylint==4.0.4",
    "pyright==1.1.407",
]
test = [
    "coverage==7.12.0",
    "pytest==9.0.2",
]

[tool.coverage.run]
omit = [
    "tests/*"
]

[tool.pyright]
useLibraryCodeForTypes = true

[tool.isort]
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]