name: Code Quality
on:
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - run: pip install --upgrade pip
      - run: pip install '.[lint,test]'
      - run: |
          readarray -t py_files < <(git ls-files '*.py')
          pylint "${py_files[@]}"
      - run: pyright
